body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #333333;
    color: #ffffff;
}

.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
}

.large-area-wrapper {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    overflow: hidden;
    background: #333333;
    border-radius: 10px;
}

.toolbar {
    position: relative;
    top: 14px;
    left: 0;
    width: 100%;
    background: #555555;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    z-index: 10;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
}

.toolbar__button {
    background: #009578;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.25s;
}

.toolbar__button:hover {
    background: #007b5e;
}

.toolbar__button:active {
    background: #00593c;
}

.line-numbers {
    position: absolute;
    top: 40px;
    width: 25px;
    padding: 10px 5px;
    text-align: center;
    color: #888888;
    background: #222222;
    font-family: monospace;
    font-size: 12px;
    line-height: 24px;
    user-select: none;
    height: calc(100% - 75px);
    overflow-y: hidden;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.line-numbers .highlight {
    background: #555555;
    color: #ffffff;
}

.large-area {
    font-family: monospace;
    font-size: 16px;
    line-height: 24px;
    background: #444444;
    color: #aaaaaa;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    resize: none;
    outline: none;
    overflow-y: auto;
    height: calc(100% - 40px);
    margin-left: 20px;
    margin-top: 5px;
    box-sizing: border-box;
    transition: background 0.25s, color 0.25s;
}

.large-area-wrapper .highlight-row {
    position: absolute;
    top: 40px;
    left: 25px;
    right: 0;
    height: 24px;
    background: rgba(85, 85, 85, 0.5);
    z-index: 2;
    pointer-events: none;
    transition: top 0.1s ease, background 0.25s ease;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    position: relative;
    width: 100%;
}

.controls__button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #009578;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: background 0.25s;
    margin-top: 20vh;
}

.controls__button:hover {
    background: #007b5e;
}

.controls__button:active {
    background: #00593c;
}